$body-bg: #FFF;
$body-font-color: #444;
$body-font-weight: 400;
$body-font-style: normal;
$header-font-color: #444;
$header-font-weight: 500;
$header-font-style: normal;

$body-font-family: "Gotham Rounded A", "Gotham Rounded B", "Helvetica Neue", "Helvetica", sans-serif;
$header-font-family: $body-font-family;
$header-line-height: 1;