---
---
@charset "utf-8";
@import "base";

body, html {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

strong {
  font-weight: 500;
}

pre {
  border: rem-calc(1) solid #CCC;
  border-radius: rem-calc(5);
  background-color: #F7F7F7;
  padding: rem-calc(8) rem-calc(12);

  code {
    display: block;
    color: #222;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
  }

}

code {
  border: none;
  border: rem-calc(1) solid #CCC;
  border-radius: rem-calc(3);
  background-color: #F7F7F7;
  padding: rem-calc(3) rem-calc(6);
}

table {
  overflow: auto;
  th {
    padding: rem-calc(8) rem-calc(16);
    font-weight: 500;
    border: rem-calc(1) solid #ccc;
  }
  tr {
    border: rem-calc(1) solid #ccc;
  }
  td {
    padding: rem-calc(5) rem-calc(16);
    border: rem-calc(1) solid #ccc;
  }
  margin-bottom: $paragraph-margin-bottom;
}

.highlight {
  margin-bottom: $paragraph-margin-bottom;
}

#header {
  width: 100%;
  height: rem-calc(340);
  text-align: center;
  background-color: #444444;
  @include background-image(linear-gradient(90deg, #00C7B5 0, #0056C7 100%));
  #logo {
    color: transparent;
    text-indent: -99999px;
    width: rem-calc(539);
    height: rem-calc(128);
    margin-top: rem-calc(90);
    @include retina-image(/images/logo, rem-calc(539) rem-calc(128));
    background-size: 100% 100%;
    display: inline-block;
  }
  #nav {
    margin-top: rem-calc(40);
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        margin: 0 rem-calc(5);
        padding: rem-calc(6) rem-calc(24);
        border: rem-calc(1) solid white;
        border-radius: rem-calc(5);
        min-width: rem-calc(80);

        a {
          color: white;
          text-decoration: none;
          text-transform: uppercase;

          &:hover {
            color: white;
          }
        }
      }
    }
  }

  @media (max-width: rem-calc(534)) {
    height: rem-calc(200);
    #logo {
      margin-top: rem-calc(40);
      width: rem-calc(280.0);
      height: rem-calc(66);
      background-size: rem-calc(280) rem-calc(66);
    }
    #nav {
      margin-top: rem-calc(20);
      ul {
        li {
          margin: 0 rem-calc(4);
          padding: rem-calc(3) rem-calc(12);
        }
      }
    }
  }
}

#content-wrapper {
  margin: rem-calc(30) rem-calc(20);
  #content {
    width: 100%;
    max-width: rem-calc(960);
    margin: 0 auto;
  }
}

#page-docs, #page-faq {
  #content-wrapper {
    #content {
      max-width: rem-calc(800);
    }
  }
}

#page-home {
  
  #info {
    h2 {
      font-weight: 300;
    }

    ul {
      margin: rem-calc(20) 0;
      padding-left: rem-calc(20);
      padding-right: rem-calc(20);
      li {
        margin-bottom: rem-calc(20);
      }
    }
  }
  #example {
    h6 {
      margin: rem-calc(10) 0;
      text-align: center;
      font-size: rem-calc(11);
      text-transform: uppercase;
      font-weight: 300;
    }

    .box {
      border: rem-calc(1) dashed black;
      border-radius: rem-calc(5);
      position: relative;
      height: rem-calc(200);
      span {
        position: absolute;
        display: block;
        top: 1px;
        left: 1px;
        border-radius: rem-calc(5);
        padding: rem-calc(3) rem-calc(7);
        background-color: #EEE;
        font-size: rem-calc(11);
        line-height: rem-calc(11);
      }

      .box {
        width: 50px;
        height: 50px;
        border-color: red;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -25px;
        margin-top: -25px;
      }
    }
  }

  #get-started-btn {
    margin: 0 auto;
    margin-top: rem-calc(80);
    padding: rem-calc(12) rem-calc(24);
    display: block;
    font-size: rem-calc(20);
    font-weight: 300;
    background: none;
    border: 1px solid #444;
    border-radius: rem-calc(5);
    a {
      text-decoration: none;
      color: #444;
    }
  }
}